.pretty-aws-console-code-commit .page-shell {
  justify-content: center;
}

.pretty-aws-console-code-commit .page-content {
  max-width: 1200px;
}

.pretty-aws-console-code-commit table.code {
  table-layout: fixed;
}

.pretty-aws-console-code-commit table.code td.line_content {
  padding-left: 20px;
  white-space: pre-wrap;
  position: relative;
}

.pretty-aws-console-code-commit table.code td.line_content.old::before,
.pretty-aws-console-code-commit table.code td.line_content.new::before {
  position: absolute;
  left: 10px;
}
